Provides <a href="http://ramdajs.com/" target="_blank">Ramda</a> as a drupal library.

<h2>Example usage</h2>

<em>modulename</em>.libraries.yml

<code>
mylibrary:
  version: 1.x
  js:
    js/mylibrary.js: {}
  dependencies:
    - ramda/ramda
</code>

js/<em>mylibrary</em>.js

<code>
const R = global.Ramda;
</code>
